@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

* {

  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
  padding:0;
  margin:0;
 
}


html {

    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;
    width:100%;
}
body {

    margin: 0;
    padding:0;
    overflow-x: hidden;
  
}
h1 {
   text-transform:uppercase;
}
  .home {
  
  
    background-image: url("../images/slider.jpg");
    width: 100%;
    height:800px;
    
  }
  .header {
    background-image: url("../images/bg.png");
    width: 100%;
    height: 150px;
  }
  .navigation-container {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    text-align:center;
    display:flex;
    justify-content: space-between;
    
  }
  
  .logo {
   
    padding-top:75px;
        
  }
  .menu {
  
    padding-top:75px;
    
  }
  .menu ul {
    padding:30px;
    list-style-type: none;
    text-decoration:none;
    margin: 0;
    padding: 0;
  }
  .menu ul li {
    display:inline;

  }
  .menu ul li a {
    color:white;
    text-transform:uppercase;
    text-decoration: none;
    margin-right:50px;
  }
  .texthome {

    font-size:42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding-top:200px;
    margin:0 auto;
    text-align:center;
    font-weight:lighter;
  }
  span {
    padding:5px;
    background-color:#465058;
    opacity: 0.5;
    line-height: 2;
    
  }

/* Section services*/

.services {
  width:100%;
  height:400px;
  background-color:#4bcaff;

  }
  
 .servicescontainer {
    width:1170px;
    height:400px;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    padding-top:15px;
 } 
 .containercolumn {
  width:1170px;
  height:180px;
  display:flex;
  flex-direction:row;
  margin: 0 auto;
 
 }
 .servicescontainer h1 {
   text-transform:uppercase;
   color:white;
   margin-right:10px;
  
 }
 .servicescontainer p {
  font-size:12px;
  color:white;
  line-height: 2;
  padding-top:5px;
  margin-right:10px;
}
.titreservices h1 {
 
    color:white;
    font-weight:lighter;
    font-size:30px;
    padding-top:60px;
    

}
.titreservices hr {

  font-weight:5px;
  width:60px;
  background-color:white;
 margin-bottom:36px;
 
}
/*Section portfolio*/

.portfolio {
  width:100%;
  height:846px;
  margin:0 auto;
 
}
.portfoliocontainerglobal {
  width:1170px;
  height:570px;
  display:flex;
  flex-direction:column;
  margin:0 auto;

}
.container1 {

    width: 1170px;
    height:40px;
    margin-bottom:80px;
    display:flex;
    padding-top:75px;
    justify-content: space-between;
  }


.menuportfolio ul {
  padding:30px;
 
  
}
.menuportfolio ul li {
  display:inline;
}
.menuportfolio ul li a {
  
    text-transform:uppercase;
    text-decoration: none;
    margin-right:50px;
}
.titreportfolio h1 {
 
    margin:0 auto;
    color:black;
    font-weight:lighter;
    font-size:30px;
    text-align:center;

}
.titreportfolio hr {
    font-weight:5px;
    width:60px;
    background-color:black;
}

.menuportfolio ul {

  padding:30px;
  list-style-type: none;
  text-decoration:none;
  margin: 0;
  padding: 0;
}
.menuportfolio ul li {
  display:inline;

}
.menuportfolio ul li a {
  color:white;
  text-transform:uppercase;
  text-decoration: none;
 
}
.galleriecontainer {
  width:1170px;
  display:flex;
  flex-wrap: wrap;
  margin-top:20px;
  text-align:center;
}
.galleriecontainer img {
  width:270px;
  height:270px;
  margin-right:10px;
  
 
}
/*Default section*/
.defaultsection {
  width:100%;
  height:474px;
  background-color:#515f67;
}
.defaultcontainer {
  width:1170px;
  height:316px;
  margin: 0 auto;
  padding-top:84px;
  display:flex;
  flex-direction:row; 
  
}
.textdefault {
  width:470px;
  height:316px;
  margin-right:135px;
}
.textdefault h1 {
  margin:0 auto;
  color:white;
  font-weight:lighter;
  font-size:30px;
 
}
.textdefault p {
  font-size:12px;
  color:white;
  line-height: 2;
  padding-top:5px;
  margin-right:10px;
}
.textdefault button {
  width: 140px;
  height: 48px;
  background-color:transparent;
  border: 2px solid black;
  text-transform:uppercase;
  font-size:16px;
  color:grey;
  margin-top:36px;
}
.textdefault hr {

  font-weight:5px;
  width:60px;
  background-color:white;
  margin-bottom:36px;
 
}
.twitter {
  width:100%;
  height:306px;
  background-color:#4bcaff;
  
}
.twittercontainer {
  width:1170px;
  height:150px;
  padding-top:82px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  color:white;
}
.textwitter{
  width:1070px;
  margin-right:75px;
}
 .textwitter h1 {
  font-weight:lighter;
  font-size:30px;
  line-height: 2;
 
}
.textwitter p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight:lighter;
    font-size:28px;
  
}
.textwitter hr {

  font-weight:5px;
  width:60px;
  background-color:white;
  line-height:2;
  margin-bottom:38px;
}
.twitter-icon img {
  width:30px;
  height:30px;

}
/*section testimonials*/
.who {
 
  background: url("../images/whois.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color:#515f67;
  width:100%;
  height:505px;

}
.testimonials {
  width:100%;
  height:360px;
}
.testimonialscontainer {
  width:1170px;
  height:206px;
  padding-top:82px;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  color:black;
}
.textestimonials{
  width:1070px;
  margin-right:75px;
}
 .testimonials h1 {
  font-weight:lighter;
  font-size:30px;
  line-height: 2;
  margin:0 auto;
}
.testimonials p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size:28px;
  
}
.testimonials hr {

  font-weight:5px;
  width:60px;
  line-height:2;
  margin-bottom:38px;
}
.testimonialsr-icon p{
  font-size:30px;
  font-weight: bold;
}
.lien {
  color:#4bcaff;
  line-height:2;
  font-size:18px;

}
/* Section Contact*/
.contact {
  background-image:url('../images/contact.jpg');
  width:100%;
  height:812px;
}
.contactcontainer {
  width:1170px;
  height:666px;
  margin:0 auto;
  padding-top:80px;
}
.textcontact h1 {
  margin:0 auto;
  color:white;
  font-weight:lighter;
  font-size:30px;
 
}

.textcontact hr {

  font-weight:5px;
  width:60px;
  background-color:white;
  margin-bottom:36px;
 
}
.text  {
  color:white;
  padding-top:25px;
  margin-left:66px;
  
}
input {
  width:470px;
  height:58px;
  border: 1px solid white;
  background-color:transparent;
  color:white;

}
textarea {
  width:1170px;
  height:220px;
  border: 1px solid white;
  background-color:transparent;
  color:white;
}
label {
  color:white;
  line-height: 2;
  font-weight: 500;
}
.button {
  width:370px;
  height:62px;
  background-color: #4bcaff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  cursor: pointer;
  color:#fff;
  font-weight: 500;

}
.row {
  display: flex;
 
}

/*section footer*/
.footer {
  width:100%;
  height:170px;
  background-color:#353f47;
}
.footercontainer {
  width:1170px;
  height:20px;
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  padding-top:65px;

}

.menufooter ul {
 
  list-style-type: none;
  text-decoration:none;
 
}
.menufooter ul li {
  display:inline;
}
.menufooter ul li a {
  
  text-transform:uppercase;
  text-decoration: none;
  margin-right:5px;
  color:#636e72;
  font-size:12px;
}
.separateur {
  color:#636e72;
}
.copyright {
  color:#636e72;
  font-size:12px;
}